DATABASE_URL="postgresql://postgres.xxxx:password@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
DIRECT_URL="postgresql://postgres.xxxx:password@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
AUTH_SECRET="gera-um-secret-com-openssl-rand-base64-32"
